<web-app>

<dispaly-name>
LinkApp
</dispaly-name>

<welcome-file-list>
<swelcome-file>page.html</swelcome-file>
</welcome-file-list>

<servlet>
<servlet-name>links</servlet-name>
<servlet-class>com.nt.servlet.LinkServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>links</servlet-name>
<url-pattern>/linkurl</url-pattern>
</servlet-mapping>

</web-app>